@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
img {
  width: 100%;
  height: 100%;
}

/*header*/
.wrapper {
  margin: 120px 0px;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
  width: 90%;
  /*media*/
}
@media (max-width: 991px) {
  .conteiner {
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 767px) {
  .conteiner {
    max-width: 650px;
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 560px) {
  .conteiner {
    max-width: 400px;
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 320px) {
  .conteiner {
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }
}

.header-block {
  text-align: center;
  text-transform: uppercase;
}
.header-block__subtitle {
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #898F8F;
  /*media*/
}
@media (max-width: 991px) {
  .header-block__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header-block__subtitle {
    margin-bottom: 10px;
  }
}
@media (max-width: 560px) {
  .header-block__subtitle {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.header-block__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  color: #FFCC00;
  /*media*/
}
@media (max-width: 991px) {
  .header-block__title {
    font-size: 55px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    color: #FFCC00;
  }
}
@media (max-width: 560px) {
  .header-block__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    color: #FFCC00;
  }
}
.header-block__fire {
  margin: 40px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*meadia*/
}
@media (max-width: 767px) {
  .header-block__fire {
    margin-top: 30px;
  }
}
@media (max-width: 560px) {
  .header-block__fire {
    margin-top: 20px;
  }
}
.header-block__line {
  background-color: #FFCC00;
  height: 1px;
  width: 18%;
  /*media*/
}
@media (max-width: 991px) {
  .header-block__line {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .header-block__line {
    width: 35%;
  }
}
@media (max-width: 560px) {
  .header-block__line {
    width: 40%;
  }
}

/*main*/
.main-field {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*media*/
}
@media (max-width: 767px) {
  .main-field {
    margin-top: 20px;
  }
}
@media (max-width: 560px) {
  .main-field {
    flex-direction: column;
  }
}
.main-field__left {
  width: 49.9%;
  /*media*/
}
@media (max-width: 560px) {
  .main-field__left {
    width: 80%;
  }
}
.main-field__left .border-area {
  margin: 65px 150px 65px auto;
  padding: 15px;
  position: relative;
  /*media*/
}
@media (max-width: 991px) {
  .main-field__left .border-area {
    margin: 40px 40px 40px auto;
  }
}
@media (max-width: 560px) {
  .main-field__left .border-area {
    margin: 10px;
  }
}
.main-field__left .border-area .corner--1 {
  position: absolute;
  top: 0;
  left: 0;
}
.main-field__left .border-area .corner--2 {
  position: absolute;
  top: 0;
  right: 0;
}
.main-field__left .border-area .corner--3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-field__left .border-area .corner--4 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-field__midle {
  background-color: #FFCC00;
  height: 560px;
  width: 1px;
  /*media*/
}
@media (max-width: 767px) {
  .main-field__midle {
    background-color: #FFCC00;
    height: 360px;
    width: 1px;
  }
}
@media (max-width: 560px) {
  .main-field__midle {
    display: none;
  }
}
.main-field__right {
  width: 49.9%;
  /*media*/
}
@media (max-width: 560px) {
  .main-field__right {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .main-field__right {
    width: 90%;
  }
}
.main-field .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 30px 40px 30px;
  /*media*/
}
@media (max-width: 991px) {
  .main-field .right {
    margin: 20px 20px 30px 30px;
  }
}
@media (max-width: 560px) {
  .main-field .right {
    margin: 20px 20px 20px 20px;
  }
}
@media (max-width: 320px) {
  .main-field .right {
    margin: 10px 10px 10px 10px;
  }
}
.main-field .right__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #666666;
  margin-bottom: 30px;
  /*media*/
}
@media (max-width: 991px) {
  .main-field .right__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 27px;
    line-height: 36px;
    color: #666666;
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .main-field .right__title {
    margin-bottom: 10px;
  }
}
.main-field .right__line {
  background-color: #FFCC00;
  height: 1px;
  width: 100px;
  margin-bottom: 30px;
  /*media*/
}
@media (max-width: 991px) {
  .main-field .right__line {
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .main-field .right__line {
    margin-bottom: 10px;
  }
}
.main-field .right__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  margin-bottom: 30px;
  /*media*/
}
@media (max-width: 991px) {
  .main-field .right__subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #666666;
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .main-field .right__subtitle {
    margin-bottom: 10px;
  }
}
.main-field .right__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /*media*/
}
@media (max-width: 991px) {
  .main-field .right__social {
    margin-bottom: 30px;
  }
}
@media (max-width: 560px) {
  .main-field .right__social {
    margin-bottom: 20px;
  }
}
.main-field .right__social .social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #CCCCCC solid;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.main-field .right__social .social__item:hover {
  background-color: gold;
}
.main-field .right__social .zero-margin {
  margin-right: 0px;
}
.main-field .right__social .social__item svg {
  fill: #CCCCCC;
}
.main-field .right__social .social__item:hover.social__item svg {
  fill: red;
}
.main-field .right__txt {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
  /*media*/
}
@media (max-width: 991px) {
  .main-field .right__txt {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
  }
}
.main-field .right .right__blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.main-field .right .right__blocks .right__block {
  height: 4px;
  background-color: #FFCC00;
  width: 10px;
}
.main-field .right .right__blocks .midle-block {
  margin: 0px 5px;
  width: 20px;
}
.main-field .right__button {
  transition: all 0.3s ease;
  border: 1px #FFCC00 solid;
}
.main-field .right__button .button__title {
  padding: 5px 10px;
}
.main-field .right__button:hover {
  background-color: #FFCC00;
}
.main-field .right__button a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  text-transform: uppercase;
}/*# sourceMappingURL=app.css.map */