/*mix*/
@mixin conteiner($w){
    max-width: $w;
    margin: 0 auto;
    width: 90%;
}
@mixin font($ff,$fw,$fs,$lh,$fc) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color:$fc;
}
@mixin media($m){
    @media (max-width: $m){
        @content;
    }
}
@mixin line($width){
    background-color: $gold;
    height: 1px;
    width: $width;
}
@mixin lineY($heigh){
    background-color: $gold;
    height: $heigh;
    width: 1px;
}
@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin margb($marg) {
    margin-bottom: $marg;  
}
