$gold:#FFCC00;
$subtitle:#898F8F;
$grey:#666666;
$litegrey:#333333;
$ccolor:#CCCCCC;

$roboto:'Roboto', sans-serif;
$raleway:'Raleway', sans-serif;
$open: 'Open Sans', sans-serif;

$large:1199px;
$big:991px;
$medium:767px;
$small:560px;
$litle:320px;

