*{transition: all .3s ease-in;}
a{
    color:$white;
}
img{
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}
.main{
    flex: 1 0 auto;
}
.header{
    background-image: url("../img/max/HeaderBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;


}
.conteiner{
    @include conteiner(1140px);
    /*media*/
    @include media($desk){
        @include conteiner(960px);
    }
    @include media($table){
        @include conteiner(720px);
        
    }
    @include media($mobile){
        width: 100%;
        padding: 0px 18px;
    }
}
/*header*/
.header-field{
    @include margt(295px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        @include margb(48px);
        &--h{
            @include font($josefin,700,48px,52px,$white);
            text-transform: uppercase;
            @include margb(8px);
            text-align: center;
        }
        &--subtitle{
            @include font($josefin,400,22px,28px,$white);
            letter-spacing:0.31em;
        }
    }

    &__search{
        width: 647px;
        background-color: $white;
        display: flex;
        @include margb(211px);

        /*media*/
        @include media($table){
            width: 85%;
        }
        @include media($mobile){
            width: 90%;
        }

        &--txt{
            width: 100%;    
        }
        & input{
            @include font($josefin,400,16px,20px,$black);
            margin: 20px 36px;
            width: 85%;

        }

        &--button{
            padding: 4px 5px 4px 0px;

        }
        .header-button{
            background-color: #5373FD;
            width: 139px;
            height: 100%;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            @include font($aleo,400,14px,20px,$white);
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;

        }
        ::placeholder{
            @include font($josefin,400,14px,20px,$grey);
        }
    }
    &__anchor{
        @include font($josefin,400,14px,20px,$white);
        letter-spacing: 0.2em;
        @include flex;
        flex-direction: column;

        &--arrow::before{
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            border:  solid $white;
            border-width: 0px 3px 3px 0px;  
            transform: rotate(45deg);
            display: flex;
            justify-content: center;
        }
    }
}
/*nav*/
.section-nav{
    background-color: $blue;
}
.nav-area{
    @include flex;
    justify-content: space-between;
    padding: 28px 0px;
    position: relative;

    @include media(900px){
        flex-direction: column;
        align-items: center;
    }
        &__burger{
            display: inline-block;
            width: 40px;
            height: 24px;
            position: absolute;
            right: 0px;
            top:30px;
            border-top: 2px $white solid;
            border-bottom: 2px $white solid;
            display:none;
            @include media($mobile){
                display: block;
            }
            
            &::before,
            &::after{
                content: "";
                display: block;
                height: 2px;
                width: 40px;
                background-color: $white;
                position: absolute;
                top:9px;
            }
        }
        &__title{
            @include font($josefin,700,24px,28px,$white);
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        &__list{
            @include flex;

            @include media($table){
                @include margt(32px);
            }

            @include media($mobile){
                display: none;
            }

            &--item{
                margin-right: 40px;
                @include font($aleo,400,14px,20px,$white);
                letter-spacing: 0.1em;
                text-transform: uppercase;

                &:last-of-type{
                    margin-right: 0px;
                }
            }
        }
}
#burger-menu{
    display: none;
    z-index: -1;
    opacity: 0;
    &:checked + .nav-area{
        
        & .nav-area__burger{
            border: none;
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
            }
        }

        & .nav-area__list{
            display: flex;
            flex-direction: column;
            margin: 60px 0px 4px;

            &--item{
                margin-right: 0px;
                margin-top: 24px;
            }
        }
    }

}
/*section who*/
.first-section{
    background-image: url("../img/max/section_1_back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;

    .first-area{
        display: grid;
        grid-template: repeat(2, 1fr) / minmax(auto, 49%) 1fr;
        column-gap: 122px;
        row-gap: 16px;
        padding-top: 124px;
        padding-bottom: 124px;

        @include media($desk){
            column-gap: 24px;
        }
        @include media($table){
            padding: 60px 0px;
            grid-template: repeat(2, 1fr) / 48% 48%;
        }
        @include media($mobile){
            grid-template: auto 1fr / 48% 48%;
            column-gap: 12px;
        }


        
        
        &__item{
            & img{
                max-width: 350px;
               
                @include media($table){
                    width: 100%;
                }
                
            }
            &:nth-child(1){
                align-self: end;

                @include media($table){
                    grid-column: 1 / 3;
                    grid-row: 2 / 3;
                    text-align: center;
                    }
            }
            &:nth-child(3){
                @include media($table){
                    grid-column: 1 / 3;
                    grid-row: 3 / 4;
                    text-align: center;
                 }
            }

            &:nth-child(4){
                justify-self: end;

                @include media($table){
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }
            }
            &:nth-child(2){
                @include media($table){
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
            }
            &--title{
                @include font($aleo,400,36px,40px,$white);
                text-transform: capitalize;
                @include margb(24px);
            }
            &--txt{
                @include font($josefin,300,16px,28px,$white);
                letter-spacing: 0.1em;
                @include media($table){
                    @include margb(24px);
                }
            }
            .button{
                @include margt(32px);
                padding: 20px 0px;
                text-align: center;
                width: 213px;
                background-color: $blue;
                @include font($aleo,400,16px,20px,$white);  
                text-transform: uppercase; 
                letter-spacing: 0,07em;
                word-spacing: 3px;

                @include media($table){
                    margin: 0 auto;
                }
            }
        }
    }
}
/*section nav*/
.first-nav{
    background-color:$brown;

        &__area{
            padding: 120px 0px 44px;
            display: flex;
            justify-content: space-around;
            background-image: url("../img/max/Line.png");
            background-repeat: no-repeat;
            background-position:center 30%;
            background-size: 66% auto;

            @include media ($table){
                background-image:none;
                flex-direction: column;
                padding: 60px 0px;
            }

            &--block{
                @include media($table){
                    @include margb(60px);

                    &:last-of-type{
                        @include margb(0px);
                    }
                }

                &:hover .block__img{
                    border: 1px rgb(198, 54, 198) solid;
                }
                .block__img{
                    width: 96px;
                    height: 96px;
                    border-radius: 50px;
                    @include flex;
                    margin: 0 auto;
                    background-color: $brown;

                    
                }
                .block__txt{
                    @include font($aleo,400,36px,40px,$white);
                    text-align: center;
                }
            }
        }


}
/*section block 2*/
.second-block{
    padding:220px 0px 120px;
    background-image: url("../img/max/section_2_back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include media($table){
        padding-top: 120px;
    }
}
.second-block__area{
    background: rgba(35, 35, 35, 0.9);
    width: 49%;
    padding: 44px 32px;
    
    @include media($desk){
        width: 60%;
    }
    @include media($table){
        width: 100%;
    }

    &--subtitle{
        @include font($josefin,300,20px,28px,$white);
        letter-spacing: 0.1em;
        @include margb(16px);
    }
    &--title{
        @include font($aleo,400,36px,40px,$white);
        text-transform: capitalize;
        @include margb(16px);
    }
    &--content{
        @include font($josefin,300,16px,28px,$white);
        letter-spacing: 0.1em;
    }
    .button{
        @include margt(24px);
        padding: 20px 0px;
        text-align: center;
        width: 213px;
        background-color: $blue;
        @include font($aleo,400,16px,20px,$white);  
        text-transform: uppercase; 
        letter-spacing: 0,07em;
        word-spacing: 3px;
    }

    
    
}
.right{
    background-image: url("../img/max/section_2_back_2.png");
}
.righ-block{
    position: relative;
    transform: translateX(-100%);
    left: 100%;
}
/*third block*/
.third-block{
    background-image: url("../img/max/section_3_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.third-block__area{
    padding: 120px 0px 180px;

    @include media($table){
        padding: 60px 0px 120px;
    }

        &--title{
            @include font($aleo,400,46px,40px,$white);
            text-align: center;
            text-transform: capitalize;
            @include margb(60px);
        }

        &--content{
            display: flex;

            @include media($table){
                flex-direction: column;
            }
            
        }
        .content__img{
            width: 33.3%;

            @include media($table){
                width: 100%;
            }
        }
        .content__txt{
            width: 66.6%;
            padding:48px 60px;
            background-color: $brown;

            @include media($table){
                width: 100%;
            }

            &--title{
                @include font($josefin,400,20px,28px,$white);
                text-transform: uppercase;
                @include margb(11px);
            }
            &--txt{
                padding-top: 6px;
                position: relative;
                @include font($josefin,300,16px,28px,$white);
                letter-spacing: 0.1em;
                

                .thing{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                & span{
                    padding-left: 30px;
                }
            }
        }
}
/*footer*/
.footer-field{
    background-color: $black;
    padding: 80px 0px;
}
.footer-block{
    text-align: center;
    &__title{
        @include font($josefin,700,24px,28px,$white);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__subtitle{
        @include font($josefin,400,14px,20px,$white);
        letter-spacing: 0.2em;
        @include margb(20px);
    }

    &__social{
        display: flex;
        justify-content: center;
        align-items: center;

        &--item{
            margin-right: 32px;
            &:last-of-type{
                margin-right: 0px;
            }

            & svg{
                fill: $white;
            }

            &:hover svg{
                fill:$blue;
            }
        }
    }
}
