body{
    background-color: #3399CC;
    font-size: 22px;
    line-height: 26px;
    color:#FFFFFF;
}
main{
    border: 25px #2B81AC solid;
}
.conteiner{
    max-width: 1116px;
    margin: 0px auto;
}
.top_h{
    margin-top: 66px;
    font-size: 0px;
    margin-bottom: 38px;
}
h2{
    display: inline-block;
    padding-right: 4px;
    font-size: 21px;
}
.top_h img{
    display: inline-block;
    vertical-align: top; 
}

.weather_table{
    border: 2px white solid;
    font-size: 0px;
    margin-bottom: 37px;
}
.section{
    display: inline-block;
    width: 25%;
    min-height: 100%;
}
.section_big{
    display: inline-block;
    width: 50%;  
    min-height: 100%;
}
.section_gigant{
    width: 100%;   
    min-height: 100%;
}
.section_content{
    border: 2px white solid;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 39px;
}
h3{
    font-size: 22px;
    margin-bottom: 4px;
}
h4{
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
}
.section_content img{
    display: inline-block;
    height: 40px;
    
}
.lisbon{
    background-color: #3399CC;
}
.paris{
    background-color:#33CCCC;
}
.belgrade{
background-color: #996699;
}
.venice {
    background-color: #C24747;
}
.tel_avive{
    background-color: #E2674A;
}
.cair{
    background-color: #FFCC66;
}
.new_york{
    background-color:#99CC99;
}
.new_delhi{
    background-color: #669999;
}
.san_francisko{
background-color: #CC6699;
}
.tokyo{
    background-color: #339966;
}
.sidney{
    background-color: #666699;
}
.bottom_txt{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 119px;
}
