
body, html{
height: 100%;
font-family: "Open Sans", sans-serif;
line-height:25px;
font-size: 18px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    flex: 1 1 auto;
}
.conteiner{
    width: 944px;
    margin: 0 auto;
}
header{
    margin-top: 23px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}
header a{
    color:#828282;
    text-decoration: none;
}
header nav ul{
    margin-left: 0px;
    padding-bottom: 29px;
}
header nav li{
    list-style: none;
    margin-right: 41px;

}
header nav  li:first-child a{
    margin-right: 0px;
    color:black;
}
header nav ul li{
    display : inline-block;
}
header nav {
  text-align: center;
}
.denis{
    padding-bottom: 100px;
    position: relative;
}
h1{
    font-size: 47px;
    font-weight: 700;
    margin:34px 0 39px 0px; 
}
.black_back{
    position: absolute;
    z-index: -1;
    transform: translate(6px, -3px);
}
.about_me{
    background-color:#F6F6F6;
    text-align: center;
    padding-top: 100px;
    
}
.about_h{
    font-size: 34px;
    font-weight: 700;
    line-height: 46.3px;
}
.about_txt{
    width: 480px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 100px;

    margin-top: 28px;
  
}
.about_txt_p{
    padding-bottom: 40px;
}
.about_txt_p span{
    display: block;
}
.skills{
    margin: 100px auto 83px auto;
}
.skills_h{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}
.skills_txt{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 79px;
}
.skills_program_section{
    display: inline-block;
    margin-right: 86px;
}
.skills_program_section:last-child{
    margin-right: 0px;
}
.skills_program_img{
    text-align: center;
}
.skills_program_img_figma{
    text-align: center;
}
.skills_program_img_figma img{
    width: 58px;
    height: 88px;
}
.skills_program_img img{
    width: 89px;
    height: 88px;
}
.skills_program_txt{
    margin-top: 22px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 59px;
    height: 27px;
    color:#828282;
}
.skills_program_star{
    padding-bottom: 3px;
}
.skills_program_star span{
    margin-right: 9px;
}
.skills_program_star span:last-child{
    margin-right: 0px;
}

.portfolio{
    background-color: #F6F6F6;
}
.portolio_example{
    padding-bottom: 158px;
}
.portolio_example:last-child{
    margin-bottom: 10px;
}
.portfolio a{
    color:black;
}
.portolio_h{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding-top: 119px;
    margin-bottom: 68px;
}
.portolio_link{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}
.portolio_link span{
    display: block;
}
.portolio_link_reebok{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 8px;
    text-align: center;
}
.portolio_link_braun{
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
    text-align: center;
}
.footer_contacts{
    margin: 100px auto 159px auto;
    width: 341px;
    height: 411px;
}
.footer_link{
    display: inline-block;
    margin-right: 54px;
}
.footer_link:last-child{
    margin-right: 0px;
}
.footer_h{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 21px;
}
.footer_txt{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24.51px;
    margin-bottom: 78px;

}
.footer_button{
    width: 180px;
    background-color: black;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-bottom: 37px;
}
.footer_button a{
    color:white;
    text-decoration: none;
}
.footer_meadia_txt{
    font-size: 14px;
    text-align: center;
    color:#828282;
    margin-top: 44px;
}
.footer_meadia_txt span{
    display: block;
}
