html,body{
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
@font-face {
    font-family:gotham;
    src: url("../font/Gotham-Font/Gotham-Bold.otf");
}
a{
    text-decoration: none;
    color: #544837;
}
input{
    border: none;
    size: 50;
    
}
[placeholder]{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 19px;
    opacity: 0.5;
    color:black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex:1 1 auto;
}
.footer{
    padding: 70px 0 70px 0;
    border-top: 1px rgba(188, 208, 229, 0.5) solid;
}
.conteiner{
   max-width: 1200px;
   margin: 0 auto;
}
.section_2{
    padding-top:100px;
    background-image: url("../img/bg.png");
    background-position: bottom;
    background-repeat:no-repeat;
    padding-bottom: 78px;
    background-size: 100%;
}
.section_2_h{
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 50px;
    color: #2F281E;
}
.section_2_h>h2 span{
    display: block;
}
.section_2_main_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.section_2_block{
    max-width: 270px;
}
.section_2_block_img{
    border-radius: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.section_2_block>.purple_block{
    background-color: rgba(119, 82, 190, 1);
}
.section_2_block>.orange_block{
    background-color: #FAB005;
}
.section_2_block>.red_block{
    background-color: rgba(240, 62, 61, 1);
}
.section_2_block>.blue_block{
    background-color: rgba(77, 173, 247, 1);
}
.section_2_block_h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
    margin-bottom: 16px;
}
.section_2_block_txt{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.form_button{
    padding: 13px 0px 13px;
    text-align: center;
    background-color: orange;
    max-width: 180px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}
.form_button a{
    color:white;
}
.section_2_button{
    margin: 0 auto;
}
/*footer section*/
.footer_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_logo{
    display: flex;
}
.footer_logo_img{
    margin-right: 13px;
}
.footer_main_link{
    display: flex;
    flex-direction: column;
    width: 135px;
}
.footer_h_link{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #2F281E;
    font-family: "gotham";
}
.footer_link{
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight:500;
    line-height:26px;
}
.footer_link:last-of-type{
    margin-bottom: 0px;
}
.footer_form{
    display: flex;
    flex-direction: column;
    width: 340px;
}
.footer_form_txt{
    font-weight: 700;
    font-size: 20px;
    line-height: 28.5px;
    text-align: left;
    color:#2F281E;
    font-family: "gotham";
}
.footer_form_area{
    margin: 25px 0 25px 0;
    border: 1px #BCD0E5 solid;
    border-radius: 5px;
    padding: 12px 0px 12px 10px;
}

