.conteiner{
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}
.main{
    background-image: url("../img/pic/desk.jfif");
    background-size: 100%;
}
.wrapper{
    border-left: 10px black double;
    border-right: 10px black double;
    border-top: none;
    height: 100%;
    padding: 15px;
    background-color: grey;
    text-transform: uppercase;
    font-family: 'Blaka', cursive;
    line-height: 24px;
    font-weight: 400;
    font-size: 72px;
    color:black;
    background-image: url("../img/pic/table.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.main-field{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
}
.card-field{
    width: 240px;
    height: 350px;
    perspective: 1500px;
}
.rotate-area{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card--1{
    -moz-animation: rotet 4s 0s;
    -webkit-animation: rotet 4s 0s;
    animation: rotet 4s 0s;
}
@keyframes rotet{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotatey(180deg);
    }
    100%{
        transform: rotatey(0deg);
    }
}
.card--2{
    -moz-animation: rotet 4s 4s;
    -webkit-animation: rotet 4s 4s;
    animation: rotet 4s 4s;
}
@keyframes rotet{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotatey(180deg);
    }
    100%{
        transform: rotatey(0deg);
    }
}
.card--3{
    -moz-animation: rotet 4s 8s;
    -webkit-animation: rotet 4s 8s;
    animation: rotet 4s 8s;
}
@keyframes rotet{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotatey(180deg);
    }
    100%{
        transform: rotatey(0deg);
    }
}
.card--4{
    -moz-animation: rotet 4s 12s;
    -webkit-animation: rotet 4s 12s;
    animation: rotet 4s 12s;
}
@keyframes rotet{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotatey(180deg);
    }
    100%{
        transform: rotatey(0deg);
    }
}
.card--5{
    -moz-animation: rotet 4s 16s;
    -webkit-animation: rotet 4s 16s;
    animation: rotet 4s 16s;
}
@keyframes rotet{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotatey(180deg);
    }
    100%{
        transform: rotatey(0deg);
    }
}
.card--6{
    -moz-animation: rotet 4s 20s;
    -webkit-animation: rotet 4s 20s;
    animation: rotet 4s 20s;
}
@keyframes rotet{
    0%{
        transform: rotatey(0deg);
    }
    50%{
        transform: rotatey(180deg);
    }
    100%{
        transform: rotatey(0deg);
    }
}
.rotate-are__front--img{
    width: 100%;
    height: 100%;
    background-image: url("../img/card.webp");
    background-position: center;
    background-repeat: no-repeat;
}
.rotate-area__front{
    border: 3px wheat solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(153, 4, 4);
}
.rotate-area:hover{
    transform: rotatey(180deg);
}
.rotate-area__front, .rotate-area__back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
.rotate-area__back{
    transform: rotateY(180deg);
}
.rotate-area__back{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px 10px;
    border: 3px white solid;
    border-radius: 5px;
    color:white;
    position: relative;
}
.dark-card{
    background-color: #861115;
    border-color: black;   
}
.back__left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back__logo{
    margin-top: 30px;
}
.back__logo img{
    height: 50px;
    width: 50px;
}
.back__border{
    margin-top: 30px;
    background-color: white;
    width: 15px;
    height: 140px;
    transform: skewY(70deg);
}
.dark-field{
    background-color: black;
}
.back__right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(180deg);
}
.back__center img{
    position: absolute;
    height: 150px;
    width: 100px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
